.nav {
    background-color: 	#FFFAF0;
    padding : 15px;
}

.nav a {
    margin: 20px;
    color: #A9A9A9;
}

.btn {
    background-color: #ffffff;
    border: 1px solid #f1d6a3;
    border-radius: 10px;
    margin : 7px;
    padding: 6px;
}

.bg_black {
    width: 50%;
    background-color: #F5F5F5;
    padding: 10px;
    position: fixed;
    top:0;
    right:0;
}

.bg_white {
    width: 90%;
    background-color: #fcfcfc;
    padding:20px;
    margin : 20px auto;
}

h4,img{
    cursor: pointer;
}

/* .stTran{
    opacity: 0;
    transition: all 1s;
}

.endTran{
    opacity: 1;
} */
.dis {
    background: #ffecd2;
    border-radius: 20px;
    height: 100px;
    width: 95%;
    line-height: 100px;
    margin: 5px auto;
}

.moTran-enter-from{
    opacity: 0;
}

.moTran-enter-active{
    transition: all 1s;
}

.moTran-enter-enter-to{
    opacity: 1;
}

.moTran-leave-from{
    transform :translateY(1px);
}
.moTran-leave-active{
    transition: all 1s;
}
.moTran-leave-to{
    opacity: 0;
}